In [1]:
# dependecies
# reference: fourth week's first day's ninth activity
import pandas as pd
from pathlib import Path

In [2]:
# path
# reference: fourth week's first day's ninth activity
file = Path("Data/cleaneddata.csv")

In [3]:
# reading file
# reference: fourth week's first day's ninth activity
# xpert
data = pd.read_csv(file, encoding='utf-8')

In [4]:
# verification
# reference: fourth week's first day's ninth activity
data.head()

,date_documented,date,time,described_duration,described_ufo,full_description,city,state,latitude,longitude
0,4/27/2004,10/10/1949,08:30 PM,45 minutes,cylinder,This event took place in early fall around 194...,san marcos,tx,29.883056,-97.941111
1,1/17/2004,10/10/1956,09:00 PM,1/2 hour,circle,My older brother and twin sister were leaving ...,edna,tx,28.978333,-96.645833
2,1/22/2004,10/10/1960,08:00 PM,15 minutes,light,AS a Marine 1st Lt. flying an FJ4B fighter/att...,kaneohe,hi,21.418056,-157.803611
3,4/27/2007,10/10/1961,07:00 PM,5 minutes,sphere,My father is now 89 my brother 52 the girl wit...,bristol,tn,36.595000,-82.188889
4,10/2/1999,10/10/1965,11:45 PM,20 minutes,disk,A bright orange color changing to reddish colo...,norwalk,ct,41.117500,-73.408333

In [5]:
# lists for coordinates
# third week
latitudes = []
longitudes = []
for latitude in data["latitude"]:
    latitudes.append(latitude)
for longitude in data["longitude"]:
    longitudes.append(longitude)

In [6]:
# verification
# third week
latitudes[0]

29.8830556

In [7]:
# verification
# third week
longitudes[0]

-97.9411111

In [8]:
# dependencies
# reference: sixth week's third day's second activity
import requests
import json

In [9]:
# importing key
# reference: sixth week's third day's second activity
from config import key

In [10]:
# base
# reference: sixth week's third day's second activity
# reference: https://apidocs.geoapify.com/docs/geocoding/reverse-geocoding/
base = "https://api.geoapify.com/v1/geocode/reverse?parameter"

In [11]:
# list for params
# third week
params = []

In [12]:
# loop
# reference: third week's first day's eleventh activity
for x in range(0, len(data["city"])):
    # param
    # reference: sixth week's third day's second activity
    # reference: https://apidocs.geoapify.com/docs/geocoding/reverse-geocoding/
    param = {
        "lat":latitudes[x],
        "lon":longitudes[x],
        "format":"json",
        "apiKey":key
    }
    params.append(param)

In [15]:
# verificaton (not shown to keep key private)
# third week
# params[0]

In [14]:
# list for responses
# third week
responses = []

In [ ]:
# loop
# reference: third week's first day's eleventh activity
for param in params:
    # response
    # reference: sixth week's third day's second activity
    response = requests.get(base, params=param)
    responses.append(response)

In [ ]:
# verification (not shown to keep key private)
# reference: sixth week's third day's second activity
# print(responses[0].url)

In [ ]:
# list for dictionaries
# third week
dictionaries = []

In [ ]:
# loop
# reference: third week's first day's eleventh activity
for response in responses:
    # jsonifying response
    # reference: sixth week's third day's second activity
    dictionary = response.json()
    dictionaries.append(dictionary)

In [ ]:
# printing dictionaries
# reference: 
print(json.dumps(dictionaries, indent=4))

In [ ]:
# lists for counties
# third week
counties = []

In [ ]:
# loop
# reference: third week's first day's eleventh activity
for dictionary in dictionaries:
    # county
    # reference: sixth week's third day's second activity
    county = dictionary["results"][0]["county"]
    counties.append(county)

In [ ]:
# verification
# third week
counties[0]

In [ ]:
# singledictionary
# reference: fourth week's first day's third activity
# xpert
singledictionary = {
    "city": [data["city"]],
    "county": [counties],
    "state": [data["state"]],
    "latitude": [latitudes],
    "longitude": [longitudes]
}

In [ ]:
# cityandcounty
# reference: fourth week's first day's third activity
# xpert
api = pd.DataFrame(singledictionary)
api.head()

In [ ]:
# saving data
# reference: fourth week's second day's third activity
api.to_csv("Data/api.csv", index=False, encoding='utf-8')