In [1]:
# dependencies
# reference: fourth week's third day's first activity
# xpert
import pandas as pd
import geopandas as gpd

In [2]:
# dependency
# fourth week's first day's ninth activity
from pathlib import Path

In [3]:
# paths
# fourth week's first day's ninth activity
# tutoring session
PATHtocountiescounted = Path("Data/countiescounted.csv")
PATHtocleanedgeodata = Path("Data/cleanedgeodata.geojson")
PATHtochoropleth = Path("Data/choropleth.geojson")

In [4]:
# reading countiescounted.csv
# fourth week's first day's ninth activity
# xpert
data = pd.read_csv(PATHtocountiescounted, encoding='utf-8')
# verification
# fourth week's first day's ninth activity
# tutoring session
print(data.shape)
data.head()

(2751, 3)

        county       state  counts
0  los angeles  california    1736
1     maricopa     arizona    1274
2         king  washington    1095
3    san diego  california     808
4         cook    illinois     781

In [5]:
# reading cleanedgeodata.geojson
# fourth week's first day's ninth activity
# xpert
geodata = gpd.read_file(PATHtocleanedgeodata)
# verification
# fourth week's first day's ninth activity
# tutoring session
print(geodata.shape)
geodata.head()

(3234, 3)

      county       state                                           geometry
0     cuming    nebraska  POLYGON ((-96.55516 41.91588, -96.55518 41.917...
1  wahkiakum  washington  POLYGON ((-123.49078 46.38359, -123.50285 46.3...
2    de baca  new mexico  POLYGON ((-104.38369 34.69213, -104.38424 34.6...
3  lancaster    nebraska  POLYGON ((-96.68141 41.04566, -96.68289 41.045...
4   nuckolls    nebraska  POLYGON ((-98.04802 40.35066, -98.04849 40.350...

In [6]:
# merging data and geodata
# reference: fourth week's third day's first activity
# xpert
merge = pd.merge(data, geodata, how='inner', on=['county', 'state'])
# tutoring session
print(merge.shape)
merge.head()

(2672, 4)

,county,state,counts,geometry
0,los angeles,california,1736,"MULTIPOLYGON (((-118.67822 33.03973, -118.6785..."
1,maricopa,arizona,1274,"POLYGON ((-111.89310 33.20471, -111.89310 33.2..."
2,king,washington,1095,"POLYGON ((-122.00036 47.77540, -122.00038 47.7..."
3,san diego,california,808,"POLYGON ((-116.85262 32.55747, -116.85088 32.5..."
4,cook,illinois,781,"POLYGON ((-87.52500 41.64464, -87.52485 41.647..."

In [7]:
# verification
# tutoring session
merge.isnull().sum()

county      0
state       0
counts      0
geometry    0
dtype: int64

In [9]:
# from df to gdf
# xpert
choropleth = gpd.GeoDataFrame(merge, geometry='geometry')

In [10]:
# verification
# fourth week's first day's ninth activity
# tutoring session
print(choropleth.shape)
choropleth.head()

(2672, 4)

,county,state,counts,geometry
0,los angeles,california,1736,"MULTIPOLYGON (((-118.67822 33.03973, -118.6785..."
1,maricopa,arizona,1274,"POLYGON ((-111.89310 33.20471, -111.89310 33.2..."
2,king,washington,1095,"POLYGON ((-122.00036 47.77540, -122.00038 47.7..."
3,san diego,california,808,"POLYGON ((-116.85262 32.55747, -116.85088 32.5..."
4,cook,illinois,781,"POLYGON ((-87.52500 41.64464, -87.52485 41.647..."

In [13]:
# saving data
# fourth week's second day's third activity
# tutoring session
choropleth.to_file(PATHtochoropleth, driver='GeoJSON')