In [1]:
# dependencies
# reference: fourth week's third day's first activity
# xpert
import pandas as pd
import geopandas as gpd

In [2]:
# dependency
# fourth week's first day's ninth activity
from pathlib import Path

In [3]:
# path
# fourth week's first day's ninth activity
file = Path("Data/US_County_Boundaries.geojson")

In [4]:
# reading files
# fourth week's first day's ninth activity
geodata = gpd.read_file(file)

In [5]:
# verification
# fourth week's first day's ninth activity
geodata.head()

,OBJECTID,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,ALAND,AWATER,STATE_NAME,geometry
0,1,31,039,00835841,31039,Cuming,Cuming County,1477645345,10690204,Nebraska,"POLYGON ((-96.55516 41.91588, -96.55518 41.917..."
1,2,53,069,01513275,53069,Wahkiakum,Wahkiakum County,680976231,61568965,Washington,"POLYGON ((-123.49078 46.38359, -123.50285 46.3..."
2,3,35,011,00933054,35011,De Baca,De Baca County,6016818946,29090018,New Mexico,"POLYGON ((-104.38369 34.69213, -104.38424 34.6..."
3,4,31,109,00835876,31109,Lancaster,Lancaster County,2169272970,22847034,Nebraska,"POLYGON ((-96.68141 41.04566, -96.68289 41.045..."
4,5,31,129,00835886,31129,Nuckolls,Nuckolls County,1489645185,1718484,Nebraska,"POLYGON ((-98.04802 40.35066, -98.04849 40.350..."

In [6]:
# cleaning for columns
# reference: fourth week's first day's ninth activity
columns = geodata[["NAME",
                   "STATE_NAME",
                   "geometry"]]
columns.head()

        NAME  STATE_NAME                                           geometry
0     Cuming    Nebraska  POLYGON ((-96.55516 41.91588, -96.55518 41.917...
1  Wahkiakum  Washington  POLYGON ((-123.49078 46.38359, -123.50285 46.3...
2    De Baca  New Mexico  POLYGON ((-104.38369 34.69213, -104.38424 34.6...
3  Lancaster    Nebraska  POLYGON ((-96.68141 41.04566, -96.68289 41.045...
4   Nuckolls    Nebraska  POLYGON ((-98.04802 40.35066, -98.04849 40.350...

In [7]:
# lower case for merge
# xpert
columns['NAME'] = columns['NAME'].str.lower()
columns['STATE_NAME'] = columns['STATE_NAME'].str.lower()
columns.head()

/opt/anaconda3/envs/dev/lib/python3.10/site-packages/geopandas/geodataframe.py:1543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

        NAME  STATE_NAME                                           geometry
0     cuming    nebraska  POLYGON ((-96.55516 41.91588, -96.55518 41.917...
1  wahkiakum  washington  POLYGON ((-123.49078 46.38359, -123.50285 46.3...
2    de baca  new mexico  POLYGON ((-104.38369 34.69213, -104.38424 34.6...
3  lancaster    nebraska  POLYGON ((-96.68141 41.04566, -96.68289 41.045...
4   nuckolls    nebraska  POLYGON ((-98.04802 40.35066, -98.04849 40.350...

In [8]:
# renaming columns
# fourth week's first day's seventh activity
renamedcolumns = columns.rename(columns={"NAME":"county",
                                         "STATE_NAME":"state"})
renamedcolumns.head()

      county       state                                           geometry
0     cuming    nebraska  POLYGON ((-96.55516 41.91588, -96.55518 41.917...
1  wahkiakum  washington  POLYGON ((-123.49078 46.38359, -123.50285 46.3...
2    de baca  new mexico  POLYGON ((-104.38369 34.69213, -104.38424 34.6...
3  lancaster    nebraska  POLYGON ((-96.68141 41.04566, -96.68289 41.045...
4   nuckolls    nebraska  POLYGON ((-98.04802 40.35066, -98.04849 40.350...

In [9]:
# saving data
# fourth week's second day's third activity
# xpert
renamedcolumns.to_file("Data/cleanedgeodata.geojson", driver='GeoJSON')